<header>  
        <div class="container">
            <a href="#" class="logo">Dockflow</a>
            <nav>
                <ul>
                    <li><a href="" routerLink="/">Home</a></li>
                    <li><a href="" routerLink="/list">Movements</a></li>
                </ul>
            </nav>
        </div>
    </header>

<!--
    <div style="text-align:center">
            <h1>{{ title }}</h1>
            <button (click)="onClick()" class="btn btn-primary">Click Me</button>
          </div>

        -->

    <div class="container">
            <router-outlet></router-outlet>
    </div>


    