
    <div class="container">
           
        
        
        <router-outlet></router-outlet>
            <h1> Hello Dockflow :) </h1>
                <h3> I am Sarra Amari and this is my work for the horizontal timeline test.</h3>
                
                <br>
                <br>
                <br>
                <h3 style="color : red">  Please click on Movements on the header!</h3>
                PS: if the timeline doesn't appear please refresh the page of Movements 
   
   
   
   
            </div>
    
    